<% layout('layouts/boilerplate') %>

    <div class="container-sm d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-6 offset-xl-3">
                <div class="card shadow">
                    <img class="img-fluid"
                        src="https://images.unsplash.com/photo-1518419530812-e4cc91c95162?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80"
                        alt="">
                    <div class="card-body">
                        <h5 class="card-title">Login</h5>
                        <form action="/login" method="POST" class="validated-form" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" name="username" id="username" autofocus
                                    required>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please provide a username.</div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" name="password" id="password" required>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please provide a password.</div>
                            </div>
                            <div class="d-grid gap-2">
                                <button class="btn btn-success">Log In</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>